.container {
  width: 100%;
	display: flex;
	flex-direction: column;
}
h1 {
	color: #7474ff;
	text-transform: uppercase;
}
input {
	display: flex;
	background-color: #7474ff;
	padding: 1rem;
	margin: 2rem;
	color: #fff;
	border: none;
	border-radius: 5px;
	
}
input::placeholder {
	color: #fff;
	
}
.datas {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
